/*
1vw = 1% of viewport width
1vh = 1% of viewport height
1vmin = 1vw or 1vh, whichever is smaller
1vmax = 1vw or 1vh, whichever is larger
*/

// SELECTION TEXTE EN BLEU
*::selection {
    color: $color-background-select-texte;
    background-color: transparent;
    color: $color-select-texte;
}

::-moz-selection {
    background: $color-select-texte;
    /* Gecko Browsers */
}

//@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');


