@use 'colors'as *;
@use 'variables'as *;

*::selection {
  background-color: $clr-text-selection-bg !important;
  color: $clr-text-selection !important;
  -webkit-text-fill-color: $clr-text-selection !important;
}

::-moz-selection {
  background: $clr-text-selection-bg !important;
  color: $clr-text-selection !important;
  -webkit-text-fill-color: $clr-text-selection !important;
  /* Gecko Browsers */
}

html {
  &.menu-open {
    overflow: hidden;
  }
}

body {
  background-color: $clr-body-bg !important;
  overflow-x: hidden;
  margin: 0;
  transition: 0.8s ease-in-out;

  &.menu-open {
    overflow: hidden;
  }

  &:not(.wp-admin) {
    opacity: 0;
    padding: 92px 0 0;
  }

  &:not(.wp-admin).is-loaded {
    opacity: 1;
  }
}

* {
  font-family: $font-body;
}

a {
  text-decoration: none;
  color: #000;
}

ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

input {
  margin: 0;
  padding: 0;
  border: 0;
  background: 0;

  &:focus,
  &:focus-within {
    outline: 0;
  }
}