.button {
  padding: 8px 12px;
  border-radius: 3px; }
  .button--primary {
    background-color: #090d13;
    color: #ffffff; }
  .button--secondary {
    background-color: #0000FF;
    color: #ffffff; }
  .button--accent {
    background-color: #DB6F76;
    color: #ffffff; }
