@use '../base/colors' as *;
@use '../base/mixins' as *;
@use '../base/variables' as *;

.t-blog {
  .c-breadcrumbs {
    margin-top: 20px;
    margin-bottom: 10px;
  }


  &__posts {
    > * {
      margin-bottom: 30px;
    }
  }

  &__loader-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__loader {
    text-align: center;
    margin-bottom: 10px;
    display: none;

    &.alternate {
      position: absolute;
      top: 48vh;
      left: 50%;
      transform: translateX(-50%);
    }

    &.show {
      display: block;
    }
  }

  &__load-more {
    margin-left: auto;
    margin-right: auto;
  }

  @include media-breakpoint-up(md) {
    &__header {
      position: relative;

      &::before {
        content: url("data:image/svg+xml,%3Csvg width='57' height='80' viewBox='0 0 57 80' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_642_12248)'%3E%3Cpath d='M14.2922 72.6589C15.6856 73.5563 17.2373 74.1808 18.8647 74.4991C20.3051 74.7666 21.7702 74.8777 23.2345 74.8307C26.3117 74.8572 29.9471 73.4315 32.0273 71.0275L31.5288 70.4804L33.1903 68.985L38.3145 74.6218L36.6529 76.1206L36.0083 75.411C34.9199 76.3714 33.7259 77.2057 32.4493 77.8978C25.893 81.4424 16.9673 80.4477 11.1819 75.7459C12.4538 74.9833 13.5212 73.924 14.2922 72.6589Z' fill='black'/%3E%3Cpath d='M1.63808 16.2308C2.7449 14.6893 4.32412 13.5488 6.13747 12.9814C8.24942 12.3144 10.4557 11.993 12.6706 12.0297C14.9032 11.9935 17.1281 12.301 19.2668 12.9416C21.0678 13.4708 22.6302 14.6047 23.6897 16.1512C24.7332 17.6876 25.2549 19.855 25.2549 22.6535V47.2334C25.2549 51.04 24.7332 53.907 23.6897 55.8346C22.6463 57.7622 21.1853 59.031 19.3067 59.6411C17.1779 60.2859 14.9613 60.5946 12.737 60.5563C10.5033 60.5925 8.2773 60.2849 6.13747 59.6444C4.23448 59.0365 2.73468 57.7677 1.63808 55.8379C0.541479 53.9081 -0.00571442 51.0145 -0.00349998 47.1572V22.6535C-0.00349998 19.9036 0.543694 17.7627 1.63808 16.2308ZM8.84574 50.642C8.80233 51.5795 8.97159 52.5145 9.34088 53.3776C9.62143 53.9869 10.1087 54.4778 10.7166 54.7636C11.3536 55.0397 12.0427 55.1754 12.737 55.1615C13.4231 55.1799 14.1046 55.044 14.7308 54.7636C15.3207 54.4682 15.7902 53.9786 16.06 53.3776C16.4309 52.515 16.6002 51.5796 16.5552 50.642V22.2556C16.5999 21.3192 16.4306 20.3849 16.06 19.5234C15.7904 18.9215 15.3209 18.4308 14.7308 18.1341C14.1046 17.8537 13.4231 17.7177 12.737 17.7362C12.0427 17.7223 11.3536 17.858 10.7166 18.1341C10.1084 18.4212 9.62126 18.9131 9.34088 19.5234C9.15295 19.9273 9.02424 20.3562 8.95872 20.7967L8.84574 35.9631V50.642Z' fill='%23FF7939'/%3E%3Cpath d='M9.07477 49.2296C8.60355 49.2362 8.13341 49.1827 7.67578 49.0704C7.30785 48.984 6.9758 48.7859 6.72539 48.5034C6.48427 48.1851 6.36629 47.7907 6.39308 47.3926V35.8537C6.36807 35.4558 6.48587 35.062 6.72539 34.7429C6.97612 34.4614 7.30818 34.2645 7.67578 34.1792C8.13295 34.064 8.60332 34.0094 9.07477 34.0167C9.53753 34.0083 9.99927 34.0629 10.4472 34.1792C10.8054 34.2689 11.1277 34.4655 11.371 34.7429C11.6121 35.0612 11.7301 35.4556 11.7033 35.8537V47.3926C11.7301 47.7907 11.6121 48.1851 11.371 48.5034C11.1281 48.7818 10.8058 48.9796 10.4472 49.0704C9.9988 49.1838 9.53729 49.2374 9.07477 49.2296Z' fill='white'/%3E%3Cpath d='M8.48079 48.6923C8.04305 48.6987 7.60633 48.6485 7.18148 48.5431C6.83975 48.4636 6.531 48.2806 6.29755 48.0192C6.06733 47.7246 5.94955 47.3579 5.96525 46.9847V36.2614C5.94888 35.8891 6.06678 35.5232 6.29755 35.2302C6.53001 34.9676 6.83916 34.7844 7.18148 34.7063C7.60587 34.5981 8.04282 34.5468 8.48079 34.5538C8.91005 34.5458 9.33835 34.5971 9.75351 34.7063C10.0878 34.7878 10.3886 34.9708 10.6142 35.2302C10.8463 35.5225 10.9643 35.8889 10.9465 36.2614V46.9847C10.9639 47.3582 10.846 47.7254 10.6142 48.0192C10.3876 48.2774 10.0873 48.4602 9.75351 48.5431C9.33787 48.6494 8.90981 48.6996 8.48079 48.6923Z' fill='black'/%3E%3Cpath d='M33.3932 21.4067C34.4981 19.8626 36.0779 18.7205 37.8926 18.1539C40.0016 17.4894 42.2042 17.1681 44.4157 17.2023C46.6483 17.1663 48.8732 17.4738 51.0119 18.1141C52.8131 18.6447 54.3755 19.7797 55.4349 21.3271C56.4783 22.859 57 25.0253 57 27.8261V52.406C57 56.2125 56.4783 59.0862 55.4349 61.0271C54.3914 62.9679 52.9293 64.2356 51.0484 64.8303C48.9238 65.4726 46.7118 65.7803 44.4921 65.7421C42.2584 65.7783 40.0324 65.4708 37.8926 64.8303C35.9851 64.2224 34.4853 62.9546 33.3932 61.0271C32.301 59.0995 31.7538 56.2048 31.7516 52.343V27.8261C31.7516 25.0806 32.2988 22.9408 33.3932 21.4067ZM40.5842 55.8146C40.5408 56.7521 40.7101 57.6871 41.0793 58.5502C41.3596 59.1594 41.8453 59.6511 42.4518 59.9395C43.0899 60.2155 43.7801 60.3512 44.4755 60.3374C45.1616 60.3559 45.8431 60.2199 46.4693 59.9395C47.0594 59.6428 47.5289 59.1521 47.7985 58.5502C48.1694 57.6876 48.3387 56.7522 48.2936 55.8146V27.4315C48.3387 26.494 48.1694 25.5585 47.7985 24.696C47.5287 24.095 47.0592 23.6054 46.4693 23.31C45.8431 23.0296 45.1616 22.8936 44.4755 22.9121C43.7801 22.8982 43.0899 23.0339 42.4518 23.31C41.8454 23.5969 41.3595 24.0875 41.0793 24.696C40.8901 25.0994 40.7613 25.5284 40.6972 25.9692L40.5842 41.1356V55.8146Z' fill='%23FF7939'/%3E%3Cpath d='M41.1924 55.8378C40.7209 55.8452 40.2505 55.7905 39.7934 55.6754C39.4254 55.5909 39.0931 55.3938 38.843 55.1117C38.6019 54.7934 38.4839 54.399 38.5107 54.0009V42.462C38.4839 42.0639 38.6019 41.6695 38.843 41.3512C39.0938 41.0692 39.4257 40.8712 39.7934 40.7842C40.251 40.6718 40.7211 40.6184 41.1924 40.625C41.6538 40.6172 42.1142 40.6707 42.5614 40.7842C42.9202 40.8746 43.2426 41.0724 43.4852 41.3512C43.7264 41.6695 43.8443 42.0639 43.8176 42.462V54.0009C43.8443 54.399 43.7264 54.7934 43.4852 55.1117C43.2433 55.3905 42.9205 55.5875 42.5614 55.6754C42.1147 55.7917 41.654 55.8463 41.1924 55.8378Z' fill='white'/%3E%3Cpath d='M40.5841 55.3007C40.1462 55.3077 39.7092 55.2564 39.2848 55.1482C38.9425 55.0701 38.6334 54.8869 38.4009 54.6243C38.1688 54.332 38.0507 53.9656 38.0686 53.5931V42.8698C38.0507 42.4973 38.1688 42.1309 38.4009 41.8386C38.634 41.5761 38.9428 41.392 39.2848 41.3114C39.7097 41.206 40.1464 41.1558 40.5841 41.1622C41.0132 41.1549 41.4412 41.2051 41.8569 41.3114C42.1909 41.3954 42.4913 41.5794 42.7175 41.8386C42.944 42.1331 43.0561 42.4993 43.0332 42.8698V53.5931C43.0561 53.9636 42.944 54.3298 42.7175 54.6243C42.4919 54.8836 42.1912 55.0667 41.8569 55.1482C41.4417 55.2574 41.0134 55.3087 40.5841 55.3007Z' fill='black'/%3E%3Cpath d='M42.6973 13.2399C41.4744 9.06862 38.806 2.888 34.8051 0.689636C31.482 -1.08099 27.5874 0.666425 27.8034 4.66858C27.8699 6.32647 28.6142 9.22115 30.4386 9.73841C31.6515 10.0401 32.5687 8.86968 32.6816 7.87494C32.9176 5.96173 32.2829 3.92916 30.4685 2.98747C28.0128 1.83358 24.7795 4.1248 24.2212 6.53869C24.1981 6.74728 24.2362 6.95805 24.3309 7.14546C24.291 7.27146 24.9622 7.87494 25.258 7.79205C25.4775 7.81664 25.6993 7.77261 25.8927 7.66604C26.0465 7.58462 26.1813 7.47161 26.2881 7.33447C27.1787 6.11094 25.6734 4.5459 24.5136 4.19774C23.4935 3.86617 22.6328 4.63874 22.1011 5.35163C21.226 6.50922 20.5345 7.79417 20.0508 9.16147L21.0676 9.64888C21.5517 8.91614 22.0765 8.21099 22.6394 7.53672C23.0507 7.00184 23.5376 6.52939 24.085 6.13415C24.1182 6.13415 24.1514 6.13414 24.0085 6.1673H23.9088H23.8889C24.087 6.30628 24.2432 6.49661 24.3408 6.71773C24.3037 6.58044 24.3 6.43628 24.3301 6.29727C24.3601 6.15826 24.4231 6.02843 24.5136 5.91862C24.6024 5.8041 24.716 5.71116 24.8459 5.64674C25.0317 5.54274 25.2457 5.49981 25.4574 5.52406C25.7465 5.44116 26.4144 6.04131 26.3712 6.15737C26.462 6.33174 26.499 6.52904 26.4775 6.72437C26.4706 6.79482 26.4584 6.86464 26.441 6.93327L26.4742 6.87027C27.3415 5.47101 29.7241 3.94242 30.1661 6.51216C30.2226 6.80345 30.2226 7.10285 30.1661 7.39415C30.1495 7.49694 30.0864 7.57321 30.1495 7.46711C30.2599 7.34826 30.3997 7.26055 30.5549 7.21282C30.7101 7.16508 30.8751 7.15901 31.0334 7.19521C31.116 7.21359 31.1954 7.24375 31.2694 7.28474C31.3458 7.33116 31.3325 7.32784 31.3159 7.30132C30.6945 6.30658 30.2459 4.12148 31.1265 3.32237C31.7246 2.96095 32.6052 3.12342 33.2067 3.52131C36.0811 5.53068 37.8357 10.7696 38.5634 14.1517L42.6873 13.2333L42.6973 13.2399Z' fill='%23081819'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_642_12248'%3E%3Crect width='57' height='80' fill='white' transform='matrix(-1 0 0 1 57 0)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
        height: 80px;
        width: auto;
        position: absolute;
        right: -20px;
        top: -10px;
      }
    }

    .c-breadcrumbs {
      margin-top: 50px;
    }

    &__posts {
      display: flex;
      flex-wrap: wrap;
      column-gap: 5px;
      row-gap: 90px;

      > * {
        margin-bottom: 0;
        flex-basis: calc(50% - 2.5px);
      }
    }
  }
}

.c-categories-dropdown {
  margin: 20px 0;
  border: 1px solid clr(orange);
  border-radius: 50px;
  position: relative;

  $a: &;

  &__label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.125rem;
    line-height: 1;
    color: clr(gray);
    font-weight: 500;
    padding: 20px;
    cursor: pointer;

    svg {
      transition: transform .3s;
      height: 11px;
      width: auto;
    }
  }

  &__categories {
    display: none;
    background-color: clr(white);

  }

  &__category {
    color: clr(gray);

    margin-left: 20px;
    margin-right: 20px;
    padding: 15px 0;

    line-height: 1;
    font-size: 1rem;
    font-weight: 500;

    cursor: pointer;

    &.active {
      color: clr(orange);
    }

    &:not(:last-child) {
      border-bottom: 1px solid #E0E0E0;
    }

    &::selection {
      background-color: inherit !important;
      color: clr(gray) !important;
      -webkit-text-fill-color: clr(gray) !important;
    }
  }

  @include media-breakpoint-down(md) {
    &.expand {
       border: 0;

      #{$a}__label {
        color: clr(orange);
        border: 1px solid clr(orange);
        border-radius: 20px 20px 0 0;

        svg {
          transform: rotateZ(180deg);

          path {
            fill: clr(orange);
          }
        }
      }

      #{$a}__categories {
        display: block;
        border: 1px solid clr(orange);
        border-top-color: transparent;
        border-radius: 0 0 20px 20px;

        position: absolute;
        top: 58px;
        left: 0;
        width: 100%;
        height: fit-content;
      }

      #{$a}__category:first-child {
        border-top: 1px solid clr(orange);
      }
    }
  }

  @include media-breakpoint-up(md) {
    border: 0;

    &__label {
      display: none;
    }

    &__categories {
      margin-top: 0;
      display: flex;
      justify-content: center;
      column-gap: 15px;

      border: 1px solid #E4E4DF;
      border-radius: 47px;

      width: fit-content;
      margin-left: auto;
      margin-right: auto;
      padding: 5px;
    }

    &__category, &__category:first-child {
      border: 1px solid transparent;
    }

    &__category {
      padding: 7px 10px;
      border-radius: 47px;
      min-width: 100px;
      margin: 0;
      text-align: center;

      &:not(:last-child) {
        border: 1px solid transparent;
      }

      &:hover {
        border: 1px solid clr(orange);
        color: clr(black);
      }

      &.active {
        background-color: clr(orange);
        color: clr(white);
      }

      &::selection {
        background-color: inherit !important;
        color: clr(black) !important;
        -webkit-text-fill-color: clr(black) !important;
      }

      &.active::selection {
        color: clr(white) !important;
        -webkit-text-fill-color: clr(white) !important;
      }
    }
  }
}