// Remove tribe container
.single-tribe_events #tribe-events-pg-template {
  max-width: unset;
  padding: unset;
}

.t-events-single {
  &__header {
    margin-bottom: 60px;
  }

  &__main {
    margin-top: 30px;
  }

  &__title {
    margin-bottom: 30px;
  }

  &__lineup {
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 22px;
    line-height: 100%;
  }

  &__tags {
    margin-bottom: 20px;
  }

  &__description {
    margin-bottom: 30px;
    font-size: 1.0625rem;
    line-height: 130%;
    color: $darkgrey;
    font-weight: 500;
  }

  &__date {
    text-transform: capitalize;
    font-family: $accentFont;
    font-size: 1.1875rem;
  }

  @media screen and (min-width: $screen-lg) {
    &__header .l-container {
      --gap: 75px;

      display: flex;
      align-items: center;

      > * {
        flex-basis: calc(50% - var(--gap) / 2);
        width: calc(50% - var(--gap) / 2);

        &:last-child {
          margin-left: var(--gap);
        }
      }
    }

    &__main {
      margin-top: -75px;
    }
  }
}

.c-events-single-slider {
  .slick-track {
    display: flex;
    padding-bottom: 25px;
  }

  .slick-slide {
    height: inherit;
  }

  .slick-slider, .slick-list {
    border-radius: 6px;
  }

  @media screen and (min-width: $screen-lg) {
    .c-slider__index {
      margin-top: 0;
    }
  }
}

.c-events-single-slider-slide {
  min-height: 100%;
  margin: 0 10px;

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
  }

  &__meta {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
  }

  &__author,
  &__productor {
    font-size: 0.75rem;
    font-weight: 400;
  }

  &__author {
    color: #989898;
  }

  &__productor {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    color: #989898;
    font-style: italic;
  }

  @media screen and (min-width: $screen-lg) {
    &__image {
      max-height: 350px;
      width: 100%;
    }
  }
}

.c-events-single-program {
  &__title {
    margin-bottom: 20px;
  }

  &__date {
    margin: 0 0 30px 30px;
    font-family: $accentFont;
    font-size: 2rem;
  }

  &__main {
    padding-top: 30px;
    border-top: 1px solid $black;
    border-radius: 20px;
  }

  @media screen and (min-width: $screen-md) {
    &__main {
      padding-top: 50px;
    }

    &__title {
      margin-bottom: 50px;
    }

    &__date {
      font-size: 2.625rem;
    }
  }
}

.c-events-single-artist {
  margin-bottom: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba($black, 0.1);

  img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
  }

  &__header {
    margin-bottom: 20px;
  }

  &__social-block {
    margin-top: 20px;
  }

  &__social-block-title {
    font-size: 0.75rem;
    font-weight: 500;
    font-family: $accentFont;
    text-transform: uppercase;
    margin-bottom: 5px;
    color: $darkgrey;
  }

  &__socials {
    margin-bottom: -5px;
    a {
      display: inline-grid;
      place-items: center;
      border: 0.75px solid rgba(0, 0, 0, 0.5);
      border-radius: 50%;
      width: 30px;
      height: 30px;
      margin-bottom: 5px;

      transition: all .3s;

      &:not(:last-child) {
        margin-right: 5px;
      }
    }
  }

  &__description {
    margin-bottom: 20px;

    font-size: 0.9375rem;
    line-height: 140%;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: $darkgrey;
  }

  &__sp-embed {
    margin-bottom: 10px;
    border-radius: 6px;
  }

  &__yt-embed {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    margin-bottom: 20px;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0;
      border-radius: 6px;
    }
  }

  @media screen and (min-width: $screen-lg) {
    display: grid;
    grid-template-columns: 1.2fr 1fr 2fr;
    grid-gap: 20px;

    img {
      height: 100%;
      object-fit: cover;
    }

    &__header {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-bottom: 0;
    }

    &__embeds {
      --gap: 20px;

      display: flex;
      align-items: stretch;

      > * {
        width: calc(50% - var(--gap) / 2);
        flex-basis: calc(50% - var(--gap) / 2);

        &:first-child {
          margin: 0 calc(var(--gap) / 2) 0 0;
        }

        &:last-child {
          margin: 0 0 0 calc(var(--gap) / 2);
        }
      }
    }

    &__yt-embed {
      padding: 0;

      iframe {
        width: 100%;
        height: 100%;
      }
    }

    &__sp-embed {
      max-height: 200px;
      overflow-y: hidden;
    }

    padding-bottom: 25px;
    margin-bottom: 100px;
    border-bottom: 1px solid rgba($black, 0.1);
  }

  &__socials a {
    &:hover {
      background-color: $darkgrey;
      transform: scale(1.1);

      svg path {
        stroke: $white;
      }
    }

    &:first-child:hover svg path {
      fill: $white;
    }
  }
}

.c-events-single-contact {
  background-color: $yellow-dark;
  padding: 40px 0 80px;
  border-radius: 20px 20px 0 0;
  margin-top: -30px;

  &__title {
    margin-bottom: 30px;
  }

  &__image {
    border-radius: 6px;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }

  &__box {
    padding: 30px;
    border: 1px solid $darkgrey;
    border-radius: 6px;

    &:not(:last-child ) {
      margin-bottom: 10px;
    }
  }

  &__subtitle {
    display: flex;
    align-items: center;
    text-decoration: underline;
    text-decoration-thickness: 1px;

    svg {
      margin-right: 5px;
    }
  }

  &__accessible {
    margin-top: 10px;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    font-size: 0.8125rem;
  }

  &__button {
    margin-top: 30px;
    border-color: $darkgrey;
    width: fit-content;
  }

  @media screen and (min-width: $screen-lg) {
    padding: 60px 0 120px;

    &__main {
      display: grid;
      grid-template-columns: .9fr 1fr 1fr 1fr;
      grid-gap: 40px;
    }

    &__image {
      height: 100%;
      object-fit: cover;
    }

    &__box {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &:not(:last-child) {
        margin-bottom: 0;
      }
    }
  }
}

.c-events-single-related {
  background-color: #C7D9D9;
  padding: 40px 0;
  border-radius: 20px 20px 0 0;
  margin-top: -30px;

  &__title {
    margin-bottom: 30px;
  }

  &__events {
  }

  .c-event-card {
    margin-bottom: 30px;
  }

  @media screen and (min-width: $screen-lg) {
    padding: 60px 0 80px;

    &__events {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 10px;
    }
  }
}