@use "../base/variables" as *;
@use "../base/mixins" as *;

.t-four-oh-four {
	position: relative;

	.l-container {
		height: 100%;
		min-height: 80vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}
