@use '../../base/colors' as *;
@use '../../base/mixins' as *;
@use '../../base/variables' as *;

.single-post-meta {
  background-color: clr(green2);
  text-align: center;
  padding: 20px 0;

  .l-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__share-label {
    margin-bottom: 10px;
  }

  &__date {
    justify-content: center;

    span {
      color: clr(black);
    }

    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }

  // Shared counts plugin overrides
  .shared-counts-wrap {
    display: flex;
    justify-content: center;
    column-gap: 10px;
  }

  .shared-counts-wrap.style-icon .shared-counts-button .shared-counts-icon svg,
  .shared-counts-wrap.style-icon .shared-counts-button:hover.twitter svg {
    fill: none;
  }

  .shared-counts-wrap.style-icon .shared-counts-button {
    float: none;
  }

  .shared-counts-wrap.style-icon .shared-counts-button .shared-counts-icon {
    width: 30px;
    height: 30px;
    border: 1px solid #A9B684;
    border-radius: 50%;
    display: grid;
    place-items: center;
  }

  @include media-breakpoint-up(md) {
    padding: 30px 0;

    .l-container {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    &__share {
      display: flex;
      column-gap: 30px;
    }

    &__share-label {
      margin-bottom: 0;
    }

    .shared-counts-wrap {
      justify-content: flex-start;
      margin: 0;
    }

    &__dates {
      display: flex;
      justify-content: flex-end;
      column-gap: 30px;
    }

    &__date {
      justify-content: flex-start;

      &:not(:last-child) {
        margin-bottom: 0;
      }
    }

    .shared-counts-wrap.style-icon {
      border-color: clr(black);

      .shared-counts-button .shared-counts-icon:hover {
        svg path {
          fill: clr(black);
        }
      }

      .shared-counts-button[data-social-network=twitter] {
        svg path {

        }
      }
    }
  }
}