@use '../base/colors' as *;

.c-breadcrumbs {
  font-size: 0.9375rem;
  line-height: 1;

  &, > span > span {
    display: flex;
    align-items: center;

    :not(:last-child) {
      margin-right: 5px;
    }
  }

  svg {
    position: relative;
    top: -1px;
    height: 9px;
    width: 11px;
  }

  svg {
    stroke: clr(orange);
  }

  > svg {
    stroke: clr(gray);
  }

  span {
    color: clr(orange);
  }

  a {
    color: clr(gray);
  }
}