
@mixin button($bg-color, $content-color, $hover-bg-color, $hover-content-color) {
  padding: 13px 18px;
  user-select: none;
  cursor: pointer;
  font-size: 1.06rem;
  font-family: $headingsFont;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-flex;
  border: 1px solid $bg-color;
  transition: all .3s;

  background-color: $bg-color;
  color: $content-color;

  > * {
    color: $content-color;
  }

  svg path {
    transition: all .3s;
    fill: $content-color;
  }

  svg circle {
    transition: all .3s;
    stroke: $content-color;
  }

  @media screen and (min-width: $screen-md) {
    &:hover {
      background-color: $hover-bg-color;
      border-color: $hover-bg-color;
      color: $hover-content-color;

      > * {
        color: $hover-content-color;
      }

      svg path {
        fill: $hover-content-color;
      }

      svg circle {
        stroke: $hover-content-color;
      }
    }
  }
}

.o-btn {
  &--white {
    @include button($white, $black, $black, $white);
  }

  &--black {
    @include button($black, $white, $white, $black);
  }

  &--icon-right {
    align-items: center;
    column-gap: 10px;
    padding: 9px 18px;

    > svg {
      height: 24px;
      width: auto;
      transition: all .3s;
    }
  }
}