@use "../base/variables" as *;
@use "../base/mixins" as *;

.c-button {
	display: inline-block;
	width: fit-content;
	padding: 13px;
	border-radius: 30px;

	font-size: 1.3125rem;
	line-height: 1.2;
	text-decoration: none;

	border: 1px solid transparent;
	transition: all 0.3s;

	&--white {
		background-color: clr(white);
		border-color: clr(black);
		color: clr(black);
	}

	&--black {
		background-color: clr(black);
		border-color: clr(black);
		color: clr(white);
	}
}
