
.slider {
  position: relative;
  padding: 50px 0;
  width: 100%;
  overflow-x: hidden;

  &__prev, &__next {
    position: absolute;
    top: 50%;

    background: $black;
    border: 1px solid $white;
    width: 40px;
    height: 40px;
    border-radius: 50%;

    display: grid;
    place-items: center;

    cursor: pointer;
  }

  &__prev {
    left: 3%;

    svg {
      transform: rotate(180deg);
    }
  }

  &__next {
    right: 3%;
  }

  &__index {
    display: flex;
    justify-content: flex-end;

    > div {
      color: $white;
      background: rgba(0, 0, 0, 0.4);
      border-radius: 16px;
      padding: 8px 12px;
    }
  }

  &__button {
    margin-top: 40px;
    display: flex;
    justify-content: center;
  }

  &.is-preview > div > div > div:not(:first-child) {
    display: none;
  }

  @media screen and (min-width: $screen-lg) {
    &__controls {
      position: static;
    }

    &__index {
      position: absolute;
      bottom: 20px;
      right: 3%;
    }

    &__prev, &__next {
      position: absolute;
      top: 50%;
    }

    &__prev {
      left: 3%;
    }

    &__next {
      right: 3%;
    }
  }
}