.slider {
  $spaceBetweenCells: 10px;

  &, .l-container {
    position: relative;
  }

  .carousel-cell {
    margin-right: $spaceBetweenCells;
  }

  &--two-cols .carousel-cell {
    width: 75%;
  }

  &--three-cols .carousel-cell {
    width: 75%;
  }

  &--four-cols .carousel-cell {
    width: 75%;
  }

  &__controls {
    pointer-events: none;
    position: absolute;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
    top: 50%;
  }

  &__prev {
    svg {
      transform: rotateZ(180deg);
    }
  }

  &__prev, &__next {
    pointer-events: auto;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s;

    svg path {
      transition: all .2s;
    }
  }

  &__index {
    align-items: center;

    padding: 7.5px 15px;
    background: rgba(#232323, 0.2);
    border-radius: 15px;
    font-size: 0.813rem;
    color: $white;
    display: none;
  }

  .flickity-button {
    position: static;

    &-icon {
      max-width: 250px;
      max-height: 400px;
    }

    &.previous {
      display: none;
    }

    &.next {
      background: $black;
      color: $white;
    }
  }


  @media screen and (min-width: $container-lg) {
    $spaceBetweenCells: 30px;

    &__controls {
      display: flex;
      justify-content: space-between;
      top: 50%;
      width: 100%;
      // padding: 0 2%;
    }

    &__prev, &__next {
      &:hover {

        svg path:nth-child(1) {
          fill: $secondary;
        }
      }
    }

    &__index {
      display: none;
    }

    &--two-cols .carousel-cell {
      width: 50%;
    }

    &--three-cols .carousel-cell {
      width: 33%;
    }

    &--four-cols .carousel-cell {
      width: 25%;
    }
  }
}