@use "../base/variables" as *;
@use "../base/mixins" as *;
@use "../base/colors" as *;

.c-slider {
  &__controls {
    display: flex;
    justify-content: space-between;
    align-items: center;

    > :first-child {
      display: none;
    }

    > :first-child, > :last-child {
      flex-basis: 25%;
    }

    > :nth-child(2) {
      flex-basis: 50%;
      margin-left: 8px;
    }

    > :last-child {
      display: flex;
      justify-content: flex-end;
    }
  }

  &__progressbar {
    width: 50%;
    height: 4px;
    position: relative;
    overflow: hidden;
    background-color: clr(true-white);

    span {
      display: block;
      width: 0;
      height: 100%;
      background-color: clr(gray);
      transform: translateX(0);
      transition: transform 0.4s ease-in-out;
    }
  }

  &__index {
    background-color: clr(true-white);
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;

    border-radius: 20px;
    color: clr(gray);
    padding: 8px 12px;

    font-family: $font-headings;
    font-size: 0.875rem;
    line-height: 1.0625rem;

    .current-index,
    .max-index {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 9px;

      text-transform: uppercase;
    }
  }

  &__prev, &__next {
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;

    img {
      width: 8px;
      height: auto;
    }
  }

  &__prev {
    padding-right: 8px;
  }

  &__next {
    padding-left: 8px;
  }

  @include media-breakpoint-up(sm) {
    &__controls {
      > :first-child {
        display: block;
      }

      > :nth-child(2) {
        margin-left: 0;
      }
    }
  }
}