.c-slider {
  &__index {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: 15px auto 0;

    background-color: $darkgrey;
    border-radius: 20px;
    color: $white;
  }

  &__prev, &__next {
    padding: 12px;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
}