.barba-leave-active,
.barba-enter-active {
    transition: opacity 450ms ease;
}

.barba-leave,
.barba-enter-to {
    opacity: 1;
}

.barba-enter,
.barba-leave-to {
    opacity: 0;
}

#panel3 {
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 101;
    position: fixed;
    height: 100%;
    width: 100%;
    pointer-events: none;
    user-select: none;

    #containerLottieLoading {
        width: 100px;
        height: 100px;
    }
}

#transition {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transform-origin: bottom left;
    height: 150%;
    z-index: 100000;
    pointer-events: none;
    user-select: none;
    overflow: hidden;

    #panel1 {
        transform: scaleX(0);
        position: absolute;
        height: 100%;
        width: 100vw;
        background: $darkgrey;
        transform-origin: bottom left;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white; 
    }

    #panel2 {
        transform: scaleX(0);
        position: absolute;
        height: 100%;
        width: 100vw;
        background: $yellow-dark;
        transform-origin: bottom left;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
    }
}
