@use "../base/variables" as *;
@use "../base/breakpoints" as *;
@use "../base/mixins" as *;

.l-container {
	margin: 0 auto;
	width: 100%;
	max-width: calc(100vw - $container-margin);

	@include media-up(xs) {
		max-width: calc(100vw - $container-margin-xs);
	}

	@include media-up(sm) {
		max-width: calc(100vw - $container-margin-sm);
	}

	@include media-up(md) {
		max-width: calc(100vw - $container-margin-md);
	}

	@include media-up(lg) {
		max-width: calc(100vw - $container-margin-lg);
	}

	@include media-up(xl) {
		max-width: calc(100vw - $container-margin-xl);
	}

	@include media-up(xxl) {
		max-width: calc(100vw - $container-margin-xxl);
	}

	@media screen and (min-width: 1880px) {
		max-width: $container-max-width;
	}
}
