@use '../base/mixins' as *;

@mixin container {
  margin: 0 auto;

  @include media-breakpoint-up(xl) {
    max-width: 1320px;
  }
}

.l-container {
  @include container;
  max-width: 95%;
}

.l-container-sm {
  @include container;
  max-width: 90%;
}

.l-container-xs {
  @include container;
  max-width: 85%;
}


