.l-topbar {
  position: relative;
  padding: 8px 0;

  background-color: $darkgrey;
  color: $white;

  .l-container {
    display: flex;
    align-items: center;
    overflow-x: hidden;
  }

  &__tag {
    flex: 1 0 auto;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: -30%;
      z-index: 1;
      display: block;
      width: 30%;
      height: 130%;
      background: linear-gradient(90deg, #232323 60.51%, rgba(35, 35, 35, 0) 100%);
    }

    .c-tag {
      white-space: nowrap;
      position: relative;
      z-index: 1;
    }
  }

  &__main {
    display: flex;
    align-items: center;
    min-width: 100%;
    overflow-x: hidden;
  }

  &__main:hover &__marquee {
    animation-play-state: paused;
  }

  &__marquee {
    display: flex;
    flex: 0;
    align-items: center;
    position: relative;
    min-width: 100%;
    animation: marquee 20s linear infinite;
  }

  &__image {
    height: 30px;
    width: auto;
    flex: 0;
    margin-right: 5px;
    border-radius: 2px;
  }

  &__text {
    font-size: 0.8125rem;
    line-height: 120%;
    letter-spacing: 0.01em;
    white-space: nowrap;
    overflow: hidden;
  }

  @media screen and (min-width: $screen-lg) {
    &__tag {
      flex: unset;
      flex-shrink: 0;
    }

    &__tag::before {
      width: 20vw;
    }
  }

  @media screen and (min-width: 1600px) {
    &__tag::before {
      width: 30vw;
    }
  }
}

/* add delay at the end of animation so you dont start while another div is going */
@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}