@import '../../../assets/scss/settings/variables';

.grid {
  display: grid;

  @media screen and (min-width: $container-md) {
    &--4 {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media screen and (min-width: $container-lg) {
    &--4 {
      grid-template-columns: repeat(4, 1fr);
    }
  }

}